name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  flake8:
    name: Flake8 Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements/dev.txt
      - name: Run flake8
        run: flake8 --verbose .
  
  black:
    name: Black Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements/dev.txt
      - name: Run black
        run: black --check --verbose .

  isort:
    name: isort Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: pip install -r requirements/dev.txt
      - name: Run isort
        run: isort --check --diff --verbose .
